{% extends "base.html" %}
{% block title %}Wydatkownia - Przegladaj wydatki{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-4"><h1>Yours expense</h1></div>
            <!-- <div class="col col-lg-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'expense_list' %}">Value: Descending</a>
                    <a class="dropdown-item" href="{% url 'expense_list' %}">Value: Ascending</a>
                    <a class="dropdown-item" href="{% url 'expense_list' %}">Date: Descending</a>
                    <a class="dropdown-item" href="{% url 'expense_list' %}">Date: Ascending</a>
                    <a class="dropdown-item" href="{% url 'expense_list' %}">Title: A-Z</a>
                    <a class="dropdown-item" href="{% url 'expense_list' %}">Title: Z-A</a>
                </div>
            </div> -->
        </div>
    </div> 
    {{ message }}<br> 
    <div class="list-group">
        {% for expanse in page_obj %}
            <a href="{% url 'expanse_detail' expanse.id %}" class="list-group-item list-group-item-action">{{ expanse.title }}   {{ expanse.value }}</a>
        {% endfor %}
    </div>
    <br>
    <a href="{% url 'add_expanse' %}" class="btn btn-primary">Add expanse</a>
    <a href="{% url 'generate_csv' %}" class="btn btn-primary">CSV</a>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}