{% extends "base.html" %}
{% block body %}
    <div>
        <h1>{{ object.title }}</h1>
        {% if chart_label and chart_data %}
            <canvas id="pie-chart" style="width: 30%;height: 30%;"></canvas>
            {% include 'pie_chart.html' %}
        {% endif %}
        <div class="row">
            <div class="col-xs-6"><a class="btn btn-primary" href="{% url 'delete_category' object.id %}">Usun</a></div>
            <div class="col-xs-6"><a class="btn btn-primary" href="{% url 'edit_category' object.id %}">Edytuj</a></div>
        </div>
    </div>
{% endblock %}