{% load static %}
<html lang="en">
  <head>
      <meta charset="UTF-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
      </script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
      </script> 
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
  <header>
      <div class="container">
          <nav>
            <a href="/" class="navbar-brand">Home</a>
            <a href="{% url 'expanses_list' %}" class="navbar-brand">Wydatki</a>
            <a href="{% url 'categories_list' %}" class="navbar-brand">Kategorie</a>
            <div class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <p class="navbar-brand"><strong>{{ user.username }}</strong></p>
                <a href="{% url 'logout' %}" class="navbar-brand">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="navbar-brand">Login</a>
                <a href="{% url 'signup' %}" class="navbar-brand">Sign up</a>
            {% endif %}
            </div>

          </nav>
      </div>
  </header>
      {% block body %}{% endblock %}
  </body>
</html>