{% extends "base.html" %}
{% block title %}Wydatkownia - Kategoria{% endblock %}
{% block body %}
    <h1>Category {{category.name}}</h1>
    {{ message }}
    <div class="list-group">
        {% for expanse in expanses_list %}
            <a href="{% url 'expanse_detail' expanse.id %}" class="list-group-item list-group-item-action">{{ expanse.title }}   {{ expanse.value }}</a>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="{% url 'edit_category' category.id %}">Edytuj</a>
    <a class="btn btn-primary" href="{% url 'delete_category' category.id %}">Usun</a>
    <div class="row my-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
        </div>
    </div>


        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        var config = {
        type: 'pie',
        data: {
            datasets: [{
            data: {{ chart_data|safe }},
            backgroundColor: [
                '#65a2b4', '#004c6d'
            ],
            label: 'Wydatki'
            }],
            labels: {{ chart_label|safe }}
        },
        options: {
            responsive: true
        }
        };

        window.onload = function() {
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
        };
    </script>

{% endblock %}