{% extends "base.html" %}
{% block title %}Wydatkownia - Wydatek{% endblock %}
{% block body %}
    <h1>{{ expanse.title}}</h1>
    {{ message }}
    <ul class="list-group">
    {% for key, value in expanse.get_dict.items %}
        {% if value %}
            {% if key == "recipe" %}
                {% load static %}
                <div class="row">
                    <div class="col">
                        <img class="list-group-item" src="{{value.url}}" class="img-responsive">
                    </div>
                    <div class="col">
                        <canvas id="pie-chart"></canvas>
                    </div>
                </div>
            {% else %}    
                <p class="list-group-item">{{ key }}: {{ value }}</p>
            {% endif %}
        {% endif%}
    {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'delete_expanse' expanse.id %}">Usun</a>
    <a class="btn btn-primary" href="{% url 'edit_expanse' expanse.id %}">Edytuj</a>




    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var config = {
        type: 'pie',
        data: {
            datasets: [{
            data: {{ chart_data|safe }},
            backgroundColor: [
                '#65a2b4', '#004c6d'
            ],
            label: 'Wydatki'
            }],
            labels: {{ chart_label|safe }}
        },
        options: {
            responsive: true
        }
        };

        window.onload = function() {
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
        };
    </script>


{% endblock %}