{% extends "base.html" %}
{% block title %}Wydatkownia - Wydatek{% endblock %}
{% block body %}
    <h1>Szczegolowy widok wydatku {{expanse.title}}</h1>
    {{ message }}
    {% for key, value in expanse.get_dict.items %}
        {% if value %}
            {% if key == "recipe" %}
                {% load static %}
                <img src="{{value.url}}" class="img-responsive" style="width: 50%; float: left; margin-right: 10px;" />>
            {% else %}    
                <p>{{ key }}: {{ value }}</p>
            {% endif %}
        {% endif%}
    {% endfor %}

    <div id="container" style="width: 75%;">
        <canvas id="pie-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        var config = {
        type: 'pie',
        data: {
            datasets: [{
            data: {{ chart_data|safe }},
            backgroundColor: [
                '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
            ],
            label: 'Wydatki'
            }],
            labels: {{ chart_label|safe }}
        },
        options: {
            responsive: true
        }
        };

        window.onload = function() {
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
        };

    </script>

    <a href="{% url 'delete_expanse' expanse.id %}">Usun</a>
    <a href="{% url 'edit_expanse' expanse.id %}">Edytuj</a>
{% endblock %}