{% extends "base.html" %}
{% block title %}Wydatkownia - Przegladaj wydatki{% endblock %}
{% block body %}
    <h1>Twoje wydatki</h1>   
    {{ message }}<br> 
    <br><br>
    <div class="list-group">
        {% for expanse in expanses %}
            <a href="{% url 'expanse_detail' expanse.id %}" class="list-group-item list-group-item-action">{{ expanse.title }}   {{ expanse.value }}</a>
        {% endfor %}
    </div>
    <br>
    <a href="{% url 'add_expanse' %}" class="btn btn-primary">Dodaj wydatek</a>
{% endblock %}